<div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3 mobile-expand pt-sm-4">
  <h3>Create a new team</h3>
  <p>
    Should have a form to build a team.
    form should have an unumbered list of users to checkbox for each user in a list.

    <% form_for @team %>
    
    <% end %>
  </p>
</div>
