<div class="col px-0">
  <div class="col">
      <h3>Requests for <span><%= @user.display_name %></span></h3>
  </div>
</div>

<div class="row">
  <div class="card-header">
    Requests you've submitted
  </div>
  <div class="col-12 col-xl-8">
    <%= render partial: 'request', collection: @user.requests, locals: { task: false } %>
  </div>
</div>
<div class="row">
  <div class="card-header">
    Tasks assigned to you
  </div>
  <div class="col-12 col-xl-8">
    <%= render partial: 'request', collection: @user.tasks, locals: { task: true } %>
  </div>
</div>
