/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

// $teal-primary: #91cac5 !important;
$teal-primary: rgb(95, 143, 139) !important;

$light-blue-primary: #8db8e9;
$light-blue-secondary: #ddedff;

$light-grey-secondary: #f4f4f4;

// material design color scheme
// https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=8db8e9&secondary.color=c0d0e8&primary.text.color=000000
$primary-reg: #8db8e9;
$primary-light: #c0eaff;
$primary-dark: #5c88b7;
$primary-text: #000000;
$secondary-reg: #c0d0e8;
$secondary-light: #f3ffff;
$secondary-dark: #8f9fb6;
$secondary-text: #000000;


// mobile first

$zindex: (
    request : 10,
    header : 90,
    footer : 90,
    body : 50,
    card : 60,
    alert: 100
);

html, body {
  height: 100%;
  // font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

div {
  // min-height: 100%;
}

body {
  color: $dark;
  // background: $light;
}

nav {
  box-shadow: 0 -2px 10px;
  z-index: 100;
  font-size: 14px;
  .navbar-brand {
    // border-bottom: 1px solid transparent;
    font-weight: 500;
  }

  .navbar-toggler {
    border-bottom: 2px solid transparent;
  }

  .navbar-nav {
    & .nav-link {
      border-bottom: 2px solid transparent;
    }
    & .nav-link:hover {
      border-bottom: 2px solid $primary-dark;
      transition: border-bottom 200ms ease-in-out;
      color: $primary-reg !important;
    }
  }

  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
  }

  .nav-tabs .nav-link:hover {
    border-bottom: 1px solid $primary-dark;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .nav-tabs .nav-link.active {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.6);
    color: $dark !important;

  }
}

.smooth-scrolling {
  scroll-behavior: smooth;
}

.full-height {
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  &.with-nav {
    height: calc(100% - 46px) !important;
  }
}

.fixed-below-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 43px;
  overflow: scroll;
}

.fill-height {
  position: absolute;
  top: 0;
  bottom: 0;
}

.ht-inherit {
  height: inherit !important;
}

.min-ht-100 {
  min-height: 100%;
}

.bg-primary {
  background: $primary-reg !important;
}

.bg-secondary {
  background: $secondary-reg !important;
}

.bg-primary-light {
  background-color: $primary-light !important;
}

.bg-primary-dark {
  background-color: $primary-dark;
}

.bg-secondary-light {
  background: $secondary-light !important;
}

.bg-secondary-dark {
  background: $secondary-dark !important;
}

.bg-dark {
  background: $primary-dark !important;
}

.bg-light {
  background: #fbfcfe !important;
}

.bg-active {
  background-color: $primary-light !important;
}

.bg-status-active {
  background-color: $primary-light !important;
}

.border-primary {
  border-color: $primary-reg !important;
}

.border-primary-dark {
  border-color: $primary-dark !important;
}

.border-primary-light {
  border-color: $primary-light !important;
}

.text-light {
  // color: $primary-light !important;
  // &:hover {
  //   color: $secondary-light !important;
  // }
}

.text-dark {
  // color: $primary-dark !important;
  // a &:hover {
  //   color: $primary-text !important;
  // }
}

.no-bg {
  background: none !important;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.sticky-top-5 {
  top: 3em;
}

#sitewide-alert {
  z-index: 1050;
  position: absolute;
  left: 3vw;
  right: 3vw;

}

.tooltip {
  & > .tooltip-inner {
    color: $dark;
    background: $light;
  }
  & > .arrow::before {
    border-top-color: $light;
  }
}

.availabilities-ul li:even {
  background: blue !important;
}

.bg-warning-completed {
  background-color: #f8c246a3 !important;
}

.box-shadow-complete {
  box-shadow: -4px 0px $success inset !important;
}

.nav-tabs {
  border-bottom: transparent;
}

.form-control::placeholder {
  color: $dark;
  opacity: .5;
  font-size: .8em;
  margin-bottom: 0;
}

// Bootstrap input fields override and animation
.form-control:focus {
    border-color: $primary-dark;
    box-shadow: 0 0 0 0.2rem rgba($primary-dark, .125);
}
.custom-select {
  border: none;
}

.input-hr {
  width: 0;
  border-top: 2px solid $primary-dark;
  transition: width .15s ease-in-out;
  margin: 0;
}
.input-hr-focus {
  width: 100%;
}

.box-shadow-none:focus {
  box-shadow: none !important;
}

// bootstrap btn adjustments
.btn-new {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  outline: none;
  z-index: 100;
  cursor: pointer;
  position: relative;
}

.btn-new-secondary {
  width: 5em;
  height: 5em;
  background: #f8c246;
  display: inline-block;
  padding: 1em;
  // border-top-left-radius: 60% !important;
  word-break: break-word;
}

.dashboard-link > .btn {
  white-space: normal;
  // word-wrap: break-word;
  // word-break: break-word;
}

// Toggle Request Window
[data-toggle="collapse"][aria-expanded="false"] > .bs-toggle {
  transition-property: color;
  transition-duration: 200ms !important;
  transition-timing-function: ease-in-out !important;
}

[data-toggle="collapse"][aria-expanded="true"] > .bs-toggle
{
    color: $primary-dark;
    transition-property: color;
    transition-duration: 200ms !important;
    transition-timing-function: ease-in-out !important;
}

.hr-divider {
  border-top: 1px solid $primary-dark !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  width: 100%;
}

.badge-adjustment {
  position: relative;
  top: -7px;
  left: -3px;
}

.fa-2x {
  font-size: 1.5em;
}

.transform-x-flip {
  transform: scaleX(-1);
}

.user-comment {
  box-shadow: inset -4px 0px #ffc107;
}

// PROFILE SHOW > REQUEST

#taskTab {
  .nav-link {
    border-radius: 0;
    border: none;
    transition: all 200ms ease-in-out;
    &.active {
      font-weight: 500;
      color: $primary-dark !important;
      .badge-light {
        background: $primary-dark !important;
        color: $secondary-light !important;
      }
    }
  }
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: $primary-text !important;
    padding-left: 1em !important;
    font-weight: 500;
    transition: all 200ms ease-in-out;
    &.active {
      &:hover {
      padding-left: .25em !important;
      }
    }
  }
  .nav-item {
    margin-bottom: 0;
  }
  .badge-float {
    position: absolute !important;
    right: -2px !important;
    top: -2px !important;
  }

  .badge {
    line-height: inherit !important;
  }
}

.request-tools {
  display: flex;
  .text-dark {
    color: $primary-text !important;
  }
  .btn:hover {
    color: $primary-dark !important
  }
  .btn:focus {
    box-shadow: none !important;
  }
}

div[id^='request_header_'] {
  & > span:hover {
    cursor: pointer;
  }
}

div[id^='request_block_']>div:hover {
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-no-focus {
    outline: 0;
    box-shadow: none !important;
}
// active/completed toggle for request

.toggle-holder {
  height: 1em;
  width: 2em;
  border-radius: 1em;
  border: .25em solid transparent;
  box-sizing: content-box;
  span {
    display: block;
    background: white;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    position: relative;
  }
  .toggle-circle {
    left: 0em;
    background-color: $primary-dark !important;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
  }

  .toggle-circle-on {
    left: 1em !important;
    background-color: $primary-light !important;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
  }
}

// this is going to be deleted or adjusted at some point
.request-container {
  flex-direction: row;
}

.request-left-column > div {
  position: fixed;
}

// request#show
.request-middle-column {
  position: relative;
  bottom: 0;
}

.comment-input {
  height: 3em;
  bottom: 0;
}

.empty-comments {
  text-shadow: 0 1px white;
  opacity: .7;
  left: 0;
  right: 0;
}

.user-name {
  height: 2em;
}

#mobile_footer {
  // width: 250px;
  font-size: 12px;
  &.fixed-bottom {
    // bottom: -16vh;
    transition: bottom 200ms ease-in-out;
  }
  .btn-circle {
    border: 1px solid #5c6064fa;
    width: 3em;
    height: 3em;
    position: relative;
    margin-top: 0%;
    border-radius: 50%;
    font-size: 1.75em;
  }
}

// mobile zoom override & empty input min-height
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}


@media screen and (max-width: 991.98px) {

  body {
    font-size: 14px;
  }

  .user-profile-card {
    font-size: .85em;
  }

  #mobile_footer {
    font-size: 12px;
    &.fixed-bottom {
      bottom: 0;
      transition: bottom 200ms ease-in-out;
    }
  }

  #right-sidebar {
    font-size: 14px !important;
  }

}

@media screen and (max-width:  767.98px) {

  .full-height {
    &.with-nav {
      height: calc(100% - 43px) !important;
    }
  }

  .fixed-below-nav {
    top: 43px;
  }

  // #left-sidebar {
  //   width: 100%;
  // }

  #mobile_footer {
    width: 100%;
  }

  #taskTab {
    font-size: 1em;
    line-height: 1em;
    .lh-1em {
      line-height: 1em;
    }
    .nav-link {
      // border-radius: 1em !important;
    }
  }
  // tooltip adjustments
  .tooltip {
    display: none;
  }

}

@media screen and (max-width: 575.98px) {

  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  body {
    height: 0;
  }


  .fa-2x {
    font-size: 1.2em;
  }

  .btn-wrap {
    white-space: normal;
  }

  .bg-xs-inherit {
    background: inherit;
  }

  .mobile-expand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 4em 0 10%;
    margin: 0;
    width: 100%;
  }

  .overlay {
    position: fixed;
    background-color: black;
    z-index: 89;
    opacity: .3;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
  }


  // User Dashboard MODIFICATIONS
  .sticky-top {
    position: inherit;
  }

  #mobile_footer {

    .btn-circle {
      margin-top: -20%;
      font-size: 2.25em;
    }
  }

  // REQUEST SHOW MODIFICATIONS

  .request-container {
    flex-direction: column;
    // height: 100%;
  }

  .request-left-column {
    z-index: 10;
    div {
      position: relative;
      flex: 0 1 auto;
    }
    .request-card {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      .request-body {
        max-height: 5em;
        overflow-y: scroll;
        // background-color: rgba(255,255,255,.8) !important;
      }
    }
  }

  .request-middle-column {
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    height: initial;
    .scrollable-content {
      overflow-y: scroll;
      .list-group {
        margin-bottom: 0;
      }
    }
  }

  .list-group-item > .input-group > .input-group-append {
    opacity: 1;
    width: initial;
  }

  #taskTab {
    .nav-item {
      height: 30px;
    }
    .nav-link {
      border-radius: 1em !important;
      &:hover {
        padding-left: .25em !important;
      }
    }
    font-size: 1em;
    line-height: 1em;
    .lh-1em {
      line-height: 1em;
    }
    .request-inbox, .request-todo, .request-outbox {
      transform: scale(.8);
    }
  }

}


// ICONS
.request-inbox {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"%3E%3Cpath fill="%23fff" stroke="white" stroke-width="1px" d="M15 16l-3.25-3.25-0.75 0.75 4.5 4.5 4.5-4.5-0.75-0.75-3.25 3.25v-11h-1v11zM20 18h6.775l-4.375-7h-5.4v-1h6l5 8v9h-25v-9l5-8h6v1h-5.4l-4.375 7h6.775v2c0 1.105 0.896 2 1.997 2h5.005c1.103 0 1.997-0.888 1.997-2v-2z" /%3E%3C/svg%3E') 50% 50% no-repeat;
  height: 30px;
  width: 30px;
}
.request-outbox {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"%3E%3Cpath fill="%23fff" stroke="white" stroke-width="1px" d="M15 5l-3.25 3.25-0.75-0.75 4.5-4.5 4.5 4.5-0.75 0.75-3.25-3.25v11h-1v-11zM20 18h6.775l-4.375-7h-5.4v-1h6l5 8v9h-25v-9l5-8h6v1h-5.4l-4.375 7h6.775v2c0 1.105 0.896 2 1.997 2h5.005c1.103 0 1.997-0.888 1.997-2v-2z" /%3E%3C/svg%3E') 50% 50% no-repeat;
  height: 30px;
  width: 30px;
}
.request-todo {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23fff" stroke="white" stroke-width="0px" d="M17.016 9v-2.016h-10.031v2.016h10.031zM17.016 12.984v-1.969h-10.031v1.969h10.031zM14.016 17.016v-2.016h-7.031v2.016h7.031zM12 3c-0.563 0-0.984 0.422-0.984 0.984s0.422 1.031 0.984 1.031 0.984-0.469 0.984-1.031-0.422-0.984-0.984-0.984zM18.984 3c1.078 0 2.016 0.938 2.016 2.016v13.969c0 1.078-0.938 2.016-2.016 2.016h-13.969c-1.078 0-2.016-0.938-2.016-2.016v-13.969c0-1.078 0.938-2.016 2.016-2.016h4.172c0.422-1.172 1.5-2.016 2.813-2.016s2.391 0.844 2.813 2.016h4.172z" /%3E%3C/svg%3E') 50% 50% no-repeat;
  height: 30px;
  width: 30px;
}
