/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

$light-secondary: #f0f0f0;
// mobile first

$zindex: (
    request : 10,
    header : 100,
    footer : 90,
    body : 50,
    card : 60,
    alert: 80
);

html, body {
  height: 100%;
}

div {
  // min-height: 100%;
}

body {
  color: $dark;
  background: $light;
}

.bg-light {
  background-color: $light-secondary !important;
}

.no-bg {
  background: none !important;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.badge-float {
  position: absolute !important;
  right: -2px !important;
  top: -2px !important;
}

#sitewide-alert {
  z-index: 110;
}

.availabilities-ul li:even {
  background: blue !important;
}

.bg-warning-completed {
  background-color: #f8c246a3 !important;
}

.box-shadow-complete {
  box-shadow: -4px 0px $success inset !important;
}

nav {
  height: 3em;
  z-index: 100;
}

.nav-tabs {
  border-bottom: transparent;
}

.overlay {
  position: fixed;
  background-color: black;
  z-index: 110;
  opacity: .3;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
}

.mobile-overlay {

}

.btn-new {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  outline: none;
  z-index: 100;
  cursor: pointer;
  position: relative;
}

.btn-new-secondary {
  width: 5em;
  height: 5em;
  background: #f8c246;
  display: inline-block;
  padding: 1em;
  // border-top-left-radius: 60% !important;
  word-break: break-word;
}

.dashboard-link > .btn {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

// Toggle Request Window
[data-toggle="collapse"][aria-expanded="false"] > .bs-toggle {

  -webkit-transform: rotate(0deg);
  -moz-transform:    rotate(0deg);
  -ms-transform:     rotate(0deg);
  -o-transform:      rotate(0deg);
  transform:         rotate(0deg);

  transition-property: -ms-transform, -webkit-transform, transform !important;
  transition-duration: 250ms !important;
  transition-timing-function: ease-in-out !important;
}

[data-toggle="collapse"][aria-expanded="true"] > .bs-toggle
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);

    transition-property: -ms-transform, -webkit-transform, transform !important;
    transition-duration: 250ms !important;
    transition-timing-function: ease-in-out !important;
}

.hr-divider {
  border-top: 1px solid $warning !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  width: 100%;
}

.bg-dark {
  background: #343a40cc !important;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
}

.nav-tabs .nav-link:hover {
  border-bottom: 1px solid $warning;
  border-top: 1px solid transparent;
}

.nav-tabs .nav-link.active {
  border: 1px solid $warning;
  background-color: rgba(255, 255, 255, 0.6);
}

.badge-adjustment {
  position: relative;
  top: -7px;
  left: -3px;
}

.fa-2x {
  font-size: 1.5em;
}

.form-control:focus { // Bootstrap override
    border-color: #fbf700;
    box-shadow: 0 0 0 0.2rem rgba(248, 194, 70, .125);
}
.custom-select:focus {
  border-color: #fbf700;
  box-shadow: none;
}

.transform-x-flip {
  transform: scaleX(-1);
}

.user-comment {
  box-shadow: inset -4px 0px #ffc107;
}

div[id^='request_header_'] {
  cursor: pointer;
}

.toggle-holder {
  height: 1em;
  width: 2em;
  border-radius: 1em;
  border: .25em solid transparent;
  box-sizing: content-box;
  span {
    display: block;
    background: white;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    position: relative;
  }
}

.toggle-circle {
  left: 0em;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.toggle-circle-on {
  left: 1em;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

// request#show view

.request-footer {
  height: 0;
  position: fixed;
  bottom: 0;
}


// this is going to be deleted or adjusted at some point
.request-container {
  flex-direction: row;
}

.request-left-column > div {
  position: fixed;
}

.comment-input {
  height: 3em;
}

.empty-comments {
  text-shadow: 0 1px white;
  opacity: .7;
}



// mobile zoom override & empty input min-height
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
    // min-height: 36px;
  }
}

@media screen and (max-width: 991.98px) {
  .user-profile-card {
    font-size: .85em;
  }
}

@media screen and (max-width: 575.98px) {
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  body {
    height: 0;
  }
  .fa-2x {
    font-size: 1.2em;
  }

  .btn-wrap {
    white-space: normal;
  }

  .user-profile-card {
    // font-size: .85em;
  }

  .mobile-expand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 4em 0 10%;
    margin: 0;
    width: 100%;
  }

  #taskTab {
    font-size: .8em;
  }

// REQUEST SHOW MODIFICATIONS

  .request-container {
    flex-direction: column;
    // height: 100%;
  }

  .request-left-column {
    z-index: 10;
    div {
      position: relative;
      flex: 0 1 auto;
    }
    .request-card {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      .request-body {
        max-height: 5em;
        overflow-y: scroll;
        background-color: rgba(255,255,255,.8) !important;
      }
    }
  }

  .request-middle-column {
    flex: 1 1 auto;
    // overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .scrollable-content {
    overflow-y: scroll;
  }
  .list-group-item > .input-group > .input-group-append {
    opacity: 1;
    width: initial;
  }

}
